h3 {
    display: inline;
    width: 405px;
    height: 52px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 40px;
    line-height: 130%;
    align-items: center;
    color: #212353;
}
.try-free-div {
    margin-top: 100px; 
    display: grid; 
    grid-auto-flow: column; 
    align-items: center; 
    justify-items: center;
}
.free-trial {
    width: 584px;
    height: 29px;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
    color: #4B5D68;
}
.learn-more-button-2 {
    width: 170px;
    height: 60px;
    background: #F063B8;
    border-radius: 50px;
    border: none;
    font-weight: 900;
    font-size: 18px;
    line-height: 160%;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    margin-right: 30px;
    margin-bottom: 20px;
}
.free-trial-column-1 {
    float: left;
    width: 60%;
  }

.free-trial-column-2{
    float: left;
    width: 40%;
}

// MEDIA QUERIES

@media screen and (max-width: 1350px) {
    .free-trial-column-1 {width: 100%; margin-bottom: 20px;}
    .free-trial-column-2 {width: 10%; margin-top: 20px;}
}

@media screen and (max-width: 800px) {
    .free-trial {width: auto;}
  }