@import './header';
@import './main';
@import './pinkContainer';
@import './featuresDiv';
@import './polygonColumns';
@import './purpleContainer';
@import './tryFreeDiv';
@import './footer';

body {
    background: #F6FAFD;
    font-family: Avenir;
    font-style: normal;
}
hr.solid {
  border-top: 2px solid #9C69E2;
  margin-top: 130px;
  opacity: 0.2;
}